$margin: 10px;
$border-color: gray;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.container {
	background: rgb(127, 3, 130);
	color: white;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 12px;
	padding: 35px;
	position: relative;
	width: 400px;

	.title {
		width: 100%;
		font-size: 40px;
		font-weight: 600;
		text-align: center;
		margin-bottom: ($margin * 2);
	}

	.content {
		text-align: justify;
		p {
			margin-bottom: $margin;
		}
	}

	@at-root [dark] & {
		background: #111;
		color: #e3e3e3;
	}
}

.form {
	input {
		font-size: 12px;
		background-color: white;
		// border: 1px solid $border-color;
		border: none;
		border-radius: 5px;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
		margin-bottom: $margin;
	}

	input[type='submit'] {
		width: inherit;
		float: right;
	}
}

.auth {
	font-size: 24px;
	background-color: white;
	color: black;
	// border: 1px solid $border-color;
	border: none;
	border-radius: 5px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	margin-bottom: $margin;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.asmCount {
	font-weight: bold;
}

.message {
	color: red;
}
